
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "404";
}

<div class="card">
    <div class="card-body login-card-body">
        <div class="error-page">
            <h2 class="headline text-danger"> 404</h2>

            <div class="error-content">
                <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Access Denied.</h3>

                <p>
                    You do not have permission to view this page.
                    Please contact System Administrator.
                </p>
            </div>
            <!-- /.error-content -->
        </div>
    </div>
    <!-- /.login-card-body -->
</div>