@{
    Layout = "~/Views/Shared/UserDash/_Layoutdb.cshtml";
    ViewData["Title"] = "Login Page";
}




<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Location Report(Postpaid)</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body card-dashboard">
                 @*    <p class="card-text">ekyc summary</p> *@
                    <div class="table-responsive">
                        <table id="kycTable" class="table table-striped table-bordered zero-configuration">
                            <thead>
                                <tr>
                                    <th>circle code</th>
                                    <th>Location</th>
                                    <th>Count</th>
                                    
                                </tr>
                            </thead>
                            <tbody id="table-body-postpaid"></tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




   
@section Scripts {
    <script>
          $(document).ready(function () {

                  GetPostpaidSummary();
           

        });




        function GetPostpaidSummary()
        {

            // Destroy DataTable if already initialized
            if ($.fn.DataTable.isDataTable('#kycTable')) {
                $('#kycTable').DataTable().clear().destroy();
            }

            var tableBody = $('#table-body-postpaid');
            tableBody.html('<tr style="text-align:center"><td colspan="6">Loading...</td></tr>');

            $.ajax({
                type: 'POST',
                url: "/Reports/GetPostpaidSummary",
                headers: {
                    "Content-type": "application/x-www-form-urlencoded; charset=UTF-8",
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                },
                success: function (data) {

                    var tableString = '';
                    for (var i = 0; i < data.length; i++) {
                        tableString += '<tr>';
                        tableString += '<td>' + data[i].circle_code + '</td>';
                        tableString += '<td>' + data[i].location + '</td>';
                        tableString += '<td>' + data[i].loccount + '</td>';
                                               
                        tableString += '</tr>';
                    }

                    tableBody.html(tableString);

                    // Reinitialize the DataTable
                    $('#kycTable').DataTable({
                        "ordering": true,
                        "paging": true,
                        "searching": true
                    });

                }
            });
        }


 


</script>

}